<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" href="static/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Enriqueta|Josefin+Sans|Nunito|Nunito+Sans|Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <br>
        <br>
        <div class="nav-bar">
          <a href="/search" class="page-button"><b>RECIPES</b></a>
          <a href="/restaurants" class="page-button"><b>RESTAURANTS</b></a>
          <a href="/tweet" class="page-button"><b>FOOD ISSUES</b></a>
          <a href="/about" class="page-button"><b>ABOUT</b></a>
        </div>
        <br>
        <br>
        <p>TEST! TEST! TEST!</p>


    </body>
</html>