<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" href="static/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Enriqueta|Josefin+Sans|Nunito|Nunito+Sans|Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
        <br>
        <br>
        <!--<div class="nav-bar">-->
        <!--  <a href="/search" class="page-button"><b>RECIPES</b></a>-->
        <!--  <a href="/restaurants" class="page-button"><b>RESTAURANTS</b></a>-->
        <!--  <a href="/tweet" class="page-button"><b>FOOD ISSUES</b></a>-->
        <!--  <a href="/about" class="page-button"><b>ABOUT</b></a>-->
        <!--</div>-->


<!--UPDATED MENU - NEED TO FIGURE OUT HOW TO CENTER THE ENTIRE MENU!! to be continued...-->
        <div class="w3-bar">
        <a href="/search" class="w3-bar-item w3-button w3-hover-none w3-hover-border-black">RECIPES</a>
        <a href="/restaurants" class="w3-bar-item w3-button w3-hover-none w3-hover-border-black">RESTAURANTS</a>
        <a href="/tweet" class="w3-bar-item w3-button w3-hover-none w3-hover-border-black">FOOD ISSUES</a>
        <a href="/about" class="w3-bar-item w3-button w3-hover-none w3-hover-border-black">ABOUT</a>
        </div>


        <br>
        <br>
        <img src="static/food.gif"></img>


    </body>
</html>