<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" href="static/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Enriqueta|Josefin+Sans|Nunito|Nunito+Sans|Roboto&display=swap" rel="stylesheet">
    </head>

<body>
    <br>
    <br>
    <div class="nav-bar">
      <a href="/search" class="page-button"><b>RECIPES</b></a>
      <a href="#" class="page-button"><b>RESTAURANTS</b></a>
      <a href="/tweet" class="page-button"><b>FOOD ISSUES</b></a>
    </div>
    <br>
    <br>
    <img src="static/food.gif"></img>


</body>
</html>