<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Enriqueta|Josefin+Sans|Nunito|Nunito+Sans|Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id = "tweetScreen">
        <h1><b>TAKE ACTION</b></h1>
              <!-- ADDS THE TWEET BUTTON -->
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <p>USE YOUR VOICE ON SOCIAL MEDIA TO SPREAD AWARENESS ON GLOBAL FOOD ISSUES</p>
              <br>
            <p id = "tweet">
                Before you throw away excess food, consider donating items you know you will not consume before the expiration date to local food banks.
                <a class="twitter-share-button"
                  href="https://twitter.com/intent/tweet?text=Before%20you%20throw%20away%20excess%20food,%20consider%20donating%20items%20you%20know%20you%20will%20not%20consume%20before%20the%20expiration%20date%20to%20local%20food%20banks." target="_blank">
                  Click to tweet.</a>
            </p>
            <p id = "tweet">
                Buy local food. It is healthier for you and better for the environment.
                <a class="twitter-share-button"
                  href="https://twitter.com/intent/tweet?text=Buy%20local%20food.%20It%20is%20healthier%20for%20you%20and%20better%20for%20the%20environment." target="_blank">
                  Click to tweet.</a>
            </p>
            <p id = "tweet">
                Food that is no longer edible can be recycled into other products such as animal feed, compost and worm castings, bioenergy, bioplastics, and clothing.
                <a class="twitter-share-button"
                  href="https://twitter.com/intent/tweet?text=Food%20that%20is%20no%20longer%20edible%20can%20be%20recycled%20into%20other%20products%20such%20as%20animal%20feed,%20compost%20and%20worm%20castings,%20bioenergy,%20bioplastics,%20and%20clothing." target="_blank">
                  Click to tweet.</a>
            </p>
            <p id = "tweet">
                The food wasted by the United States and Europe alone could feed the world 3 times over.
                <a class="twitter-share-button"
                  href="https://twitter.com/intent/tweet?text=The%20food%20wasted%20by%20the%20United%20States%20and%20Europe%20alone%20could%20feed%20the%20world%203%20times%20over." target="_blank">
                  Click to tweet.</a>
            </p>
            <p id = "tweet">
                Food waste increases methane gases in landfills, wastes natural resources (like oil, water, and land), impacts global hunger, and results in trillions of dollars wasted on uneaten food.
                <a class="twitter-share-button"
                  href="https://twitter.com/intent/tweet?text=Food%20waste%20increases%20methane%20gases%20in%20landfills,%20wastes%20natural%20resources%20(like%20oil,%20water,%20and%20land),%20impacts%20global%20hunger,%20and%20results%20in%20trillions%20of%20dollars%20wasted%20on%20uneaten%20food." target="_blank">
                  Click to tweet.</a>
            </p>


        </div>

    </body>
</html>
